<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TodoMapper">

	<!-- Todoの1対1の関係 -->
	<resultMap id="TodoResult"
		type="com.example.demo.entity.Todo">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="importance" column="importance" />
		<result property="urgency" column="urgency" />
		<result property="deadline" column="deadline" />
		<result property="done" column="done" />
	</resultMap>


	<!-- 【SELECT】特定のIDを持つ書籍を取得するためのSQLを定義 -->
	<select id="getTodoById" resultMap="TodoResult">
		select t.id,
		t.title,
		t.importance,
		t.urgency,
		t.deadline,
		t.done
		from todo t
		where t.id = #{id}
	</select>

	<!-- 【SELECT】全てのToDoを取得するためのSQLを定義 -->
	<select id="getAllTodoSorted" resultMap="TodoResult">
		select t.id,
		t.title,
		t.importance,
		t.urgency,
		t.deadline,
		t.done
		from todo t
		order by t.done,
		<choose>
			<when test="column == 'id'">t.id</when>
			<when test="column == 'title'">t.title</when>
			<when test="column == 'importance'">t.importance</when>
			<when test="column == 'urgency'">t.urgency</when>
			<when test="column == 'deadline'">t.deadline</when>
		</choose>
		<choose>
			<when test="order == 'asc'">asc</when>
			<when test="order == 'desc'">desc</when>
		</choose>
	</select>

	<!-- 【INSERT】新しいTodoをデータベースに追加するSQLを定義 -->
	<insert id="insertTodo"
		parameterType="com.example.demo.entity.Todo">
		insert into todo (title, importance, urgency, deadline,
		done)
		values (#{title}, #{importance}, #{urgency}, #{deadline},
		#{done})
	</insert>


	<!-- 【UPDATE】特定のIDを持つTodoの情報を更新するSQLを定義 -->
	<update id="updateTodo"
		parameterType="com.example.demo.entity.Todo">
		update todo t
		set title = #{title},
		t.importance = #{importance},
		t.urgency = #{urgency},
		t.deadline = #{deadline},
		t.done = #{done}
		where t.id = #{id}
	</update>

	<!-- 【DELETE】特定のIDを持つ書籍の情報を削除するSQLを定義 -->
	<delete id="deleteTodo" parameterType="int">
		delete from todo
		where id = #{id}
	</delete>
</mapper>